.custom-main {
	min-height: 300px;
	margin: 20px !important;;
}

@media (max-width: 600px) {
	.custom-main {
		margin: 0 !important;;
	}
}

.inline-image {
	height: 1.5em;
	width: auto;
	vertical-align: middle;
	margin-right: 6px;
}

.link-image {
	transition: transform 0.2s ease-in-out;
}

.link-image:hover {
	transform: scale(1.2);
}

.less-decorated-link {
	text-decoration: none;
	color: inherit;
}

.less-decorated-link:hover {
	text-decoration: underline;
}
